*.etfg
*.bc
*.bc.tmp
stats/*.log
stats/*.csv
logs/*.proof
*.o
*.o.harvest
*.o.harvest.log
*.o.tfg
logs_spec/*.proof
*.tmp
*.record
eq_classes/*
__pycache__
graphviz
*.ALL*
counterexamples/*
plots
eq_classes_backup
test.py
*_tmp.S
ineq.*
