*.etfg
*.bc
*.bc.tmp
stats/*.log
stats/*.csv
logs/*.proof
logs_spec/*.proof
benchmarks/*.bc
benchmarks/*.tmp
*.record
eq_classes/*
__pycache__
graphviz
*.ALL*
counterexamples/*
plots
eq_classes_backup